@model BLOBLocker.Code.ViewModels.WebApp.AddContactViewModel

@HttpContext.GetGlobalResourceObject(null, "Label.AddAccountToContacts")


<div class="row column">
    @using (Html.BeginForm("AddContact", "Panel", FormMethod.Post))
    {
        <div class="input-group">
            <span class="input-group-label">
                @Html.LabelFor(p => p.AddAlias)
            </span>
            @Html.TextBoxFor(p => p.AddAlias, null, new { @class = "input-group-field" }) @Html.ValidationMessageFor(p => p.AddAlias)
            <div class="input-group-button">
                @Html.AntiForgeryToken()
                <input type="submit" value="@HttpContext.GetGlobalResourceObject(null, "Button.Add")" class="button" />
            </div>
        </div>
    }
</div>