@model BLOBLocker.Code.ViewModels.WebApp.TitleDescriptionViewModel
@using BLOBLocker.Code.Membership

@{
    bool canChangeTitle = PoolRightHelper.HasRight(Model.Rights, PoolRight.ChangeTitle);
    bool canChanceDescription = PoolRightHelper.HasRight(Model.Rights, PoolRight.ChangeDescription);
}

@using (Html.BeginForm("ChangeTitleAndDescription", "Panel", FormMethod.Post)) { 
    <table>
        <tr>
            <th>@Html.LabelFor(p => p.Title)</th>
            <td>
                @if (canChangeTitle) { 
                    <text>
                        @Html.EditorFor(p => p.Title)
                        @Html.ValidationMessageFor(p => p.Title)
                    </text>
                    
                }
                else{
                    <text>
                        @Html.ValueFor(p => p.Title)
                        @Html.HiddenFor(p => p.Title)
                    </text>
                }
            </td>
            @if(canChangeTitle || canChanceDescription) { 
                <td rowspan="2">
                    <button type="submit">Change</button>
                    @Html.HiddenFor(p => p.PUID)
                    @Html.AntiForgeryToken()
                </td>
            }
        </tr>
            <tr>
                <th>@Html.LabelFor(p => p.Description)</th>
                <td>
                    @if (canChanceDescription) {
                        <text>
                            @Html.TextAreaFor(p => p.Description)
                            @Html.ValidationMessageFor(p => p.Description)
                        </text>
                    }
                    else
                    {
                        <text>
                            @Html.ValueFor(p => p.Description)
                            @Html.HiddenFor(p => p.Description)
                        </text>
                    }
                </td>
            </tr>
    </table>
}