@model BLOBLocker.Code.ViewModels.WebApp.RightsEditViewModel

@using (Html.BeginForm("EditDefaultRights", "Panel", FormMethod.Post))
{
    <div class="row">
        <div class="small-10 column inline-blocks">
            <fieldset class="fieldset">
                <legend>@HttpContext.GetGlobalResourceObject(null, "Label.InitialRights")</legend>

                @Html.EditorFor(p => p.Rights)
            </fieldset>
        </div>
        <div class="small-2 column">
            <button type="submit" class="success button">@HttpContext.GetGlobalResourceObject(null, "Button.Save")</button>
            @Html.AntiForgeryToken()
            @Html.HiddenFor(p => p.PoolUID) 
        </div>
    </div>
}