@model BLOBLocker.Code.ViewModels.WebApp.InvitationViewModel
@using BLOBLocker.Code.Web.Helper

@using (Html.BeginForm("InviteUserMinimal", "Panel", FormMethod.Post))
{
    <div class="row">
        <div class="small-10 column">
            <fieldset class="fieldset">
                <legend>@HttpContext.GetGlobalResourceObject(null, "Label.AddUserToPool")</legend>
                <div class="row">
                    <div class="small-3 column text-right">
                        @Html.LabelFor(p => p.InviteAlias)
                    </div>
                    <div class="small-4 column">
                        @Html.EditorFor(p => p.InviteAlias)
                    </div>
                    <div class="small-5 column">
                        @Html.ValidationMessageFor(p => p.InviteAlias)
                    </div>
                </div>
                <div class="row">
                    <div class="small-3 column text-right">
                        @Html.LabelFor(p => p.ShowAll)
                    </div>
                    <div class="small-4 column end">
                        @Html.CheckBoxFor(p => p.ShowAll, new { id = "ShowAllCheckBox" })
                    </div>
                </div>
                <div id="ShowSinceDateTimeField" class="row">
                    <div class="small-3 column text-right">
                        @Html.LabelFor(p => p.ShowSince)
                    </div>
                    <div class="small-4 column">
                        @Html.EditorFor(p => p.ShowSince)
                    </div>
                    <div class="small-5 column">
                        @Html.LocalizedLabel("Label.Examples") @DateTime.Now <br /> @DateTime.Now.AddDays(-2) <br /> @(new DateTime(2015, 2, 14, 13, 37, 42))
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="small-2 column">
            <button type="submit" class="success button">@HttpContext.GetGlobalResourceObject(null, "Button.Add")</button>
            @Html.AntiForgeryToken() 
            @Html.HiddenFor(p => p.PoolUID)
        </div>
    </div>
    
}
<script>
    $(function () {
        $("#ShowSinceDateTimeField").toggle();
        $("#ShowAllCheckBox").click(function () {
            $("#ShowSinceDateTimeField").toggle();
        });
    });
</script>