@model BLOBLocker.Code.ViewModels.WebApp.ManageModulesViewModel

@using (Html.BeginForm("ManageModules", "Panel", FormMethod.Post)) 
{
    <div class="row">
        <div class="small-10 column">
            <fieldset class="fieldset inline-blocks">
                <legend>@HttpContext.GetGlobalResourceObject(null, "Label.Modules")</legend>
                @Html.CheckBoxFor(p => p.EnableChat) @Html.LabelFor(p => p.EnableChat)
                @Html.CheckBoxFor(p => p.EnableFileStorage) @Html.LabelFor(p => p.EnableFileStorage)
                @Html.CheckBoxFor(p => p.EnableLinkRepository) @Html.LabelFor(p => p.EnableLinkRepository)
            </fieldset>
        </div>
        
        <div class="small-2 column">
            <button type="submit" class="success button">@HttpContext.GetGlobalResourceObject(null, "Button.Apply")</button>

            @Html.HiddenFor(p => p.PUID) @Html.AntiForgeryToken()
        </div>
    </div> 
    
}