@model IEnumerable<BLOBLocker.Entities.Models.WebApp.Pool>
@using BLOBLocker.Code.Helper

<h4>@HttpContext.GetGlobalResourceObject(null, "Label.YourPools")</h4>
@if (Model.Count() > 0)
{
    <table class="table hover">
        <tr>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.Title")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.Active")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.CreatedOn")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.AssignedMemoryMB")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.ParticipantCount")</th>
        </tr>
        @foreach (BLOBLocker.Entities.Models.WebApp.Pool p in Model)
        {
            <tr>
                <td>@p.Title</td>
                <td>@p.IsActive</td>
                <td>@p.CreatedOn.Value.ToShortDateString()</td>
                <td>@p.AssignedMemory.Where(q => q.IsEnabled).Select(q => q.Space).Sum()</td>
                <td>@p.Participants.Count</td>
                <td>@Html.LocalizedActionLink("Button.Browse", "Pool", new { puid = p.UniqueIdentifier })</td>
            </tr>
        }
    </table>
    @Html.LocalizedActionLink("Button.BuildMore", "Build", null, new { @class="button" })
}
else
{
    <text>
    @HttpContext.GetGlobalResourceObject(null, "Label.NoPools") 
    @Html.LocalizedActionLink("Button.BuildFirstPool", "Build")
</text>
}