@model IEnumerable<BLOBLocker.Entities.Models.WebApp.PoolShare>

<h4>@HttpContext.GetGlobalResourceObject(null, "Label.AllPools")</h4>
@if (Model.Count() > 0)
{
    <table class="table hover">
        <tr>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.Title")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.CreatedOn")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.AssignedMemoryMB")</th>
            <th>@HttpContext.GetGlobalResourceObject(null, "Label.ParticipantCount")</th>
        </tr>
        @foreach (var fp in Model)
        {
            <tr>
                <td>@fp.Pool.Title</td>
                <td>@fp.Pool.CreatedOn.Value.ToShortDateString()</td>
                <td>@fp.Pool.AssignedMemory.Where(p => p.IsEnabled).Select(p => p.Space).Sum()</td>

                <td>@fp.Pool.Participants.Where(p => p.IsActive).Count()</td>
                <td>@Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Button.Browse").ToString(),
                                    "Pool", new { puid = fp.Pool.UniqueIdentifier })</td>
            </tr>
        }
    </table>
}
else
{
    @HttpContext.GetGlobalResourceObject(null, "Label.NoPoolShares")
}