@model IEnumerable<BLOBLocker.Entities.Models.WebApp.Notification>

@using (Html.BeginForm("DisableNotification", "Panel", FormMethod.Post))
{
    if (Model.Count() != 0) 
    {
        <table>
            @foreach (BLOBLocker.Entities.Models.WebApp.Notification not in Model)
            {
                <tr>
                    <td>@not.Description</td>
                    <td>@not.CreatedOn</td>
                    <td><button type="submit" name="id" value="@not.ID">X</button></td>
                </tr>
            }
        
        </table>

        <span id="notificationAntiForgeryToken">@Html.AntiForgeryToken()</span>
    }
    else
    {
        <p>@HttpContext.GetGlobalResourceObject(null, "Label.NoNewNotifications")</p>
    }
}

<script>
    $(function () {
        $("button[type=submit]").click(function () {
            var clickedBtn = $(this);
            var rvt = $("input[name=__RequestVerificationToken]");
            $.ajax({
                type: "POST",
                url: "/Ajax/DisableNotificationAsync",
                data: { "id": clickedBtn.val(), "__RequestVerificationToken": rvt.val() },
                cache: false
            }).done(function (data, status, req) {
                clickedBtn.parent().parent().toggle(250);
                clickedBtn.hide();
            }).error(function (req, textStatus, errorThrown) {
                alert("Error:" + req.status);
            });
            return false;
        });
    });
</script>