@model SpreadBase.Models.Account
@{
    ViewBag.Title = SpreadBase.Resources.Account.Strings.PageRegisterTitle;
}

<h2>SignUp</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>
    <p>
        @Html.LabelFor(model => model.Alias) *:
        @Html.EditorFor(model => model.Alias)
    </p>
    <p>
        @Html.LabelFor(model => model.Password) *:
        @Html.PasswordFor(model => model.Password)
    </p>
    <p>
        @Html.LabelFor(model => model.Addition.ContactEmail)
        @Html.EditorFor(model => model.Addition.ContactEmail)
    </p>
    if (ViewBag.IsRegistrationRestricted)
    {
        <p>@SpreadBase.Resources.Account.Strings.RegistrationCodeLabel *:
        @Html.TextBox("registrationCode", "")</p>
    }
    @Html.AntiForgeryToken();
    <input type="submit" value="@SpreadBase.Resources.Account.Strings.btn_SignUp" />
}
