@model spreadbase.Models.Account
@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp</h2>

@using (Html.BeginForm())
{
    <p>
        @if (Model != null)
        {
           <span>@Model.Alias</span>
        }
    </p>
    <p>
        @Html.ValidationSummary()
    </p>
    <p>
        @Html.LabelFor(model => model.Alias) *:
        @Html.TextBoxFor(model => model.Alias)
    </p>
    <p>
        @Html.LabelFor(model => model.Password) *:
        @Html.PasswordFor(model => model.Password)
    </p>
    <p>
        @Html.LabelFor(model => model.Additions.ContactEmail)
        @Html.TextBoxFor(model => model.Additions.ContactEmail)
    </p>
    @Html.AntiForgeryToken();
    <input type="submit" value="Sign up" />
}
