@using BLOBLocker.Code.Web.Helper
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.Peek");
    
    List<string> sandBoxTags = new List<string>();
    
    if(ViewBag.ActivateJS != null && ViewBag.ActivateJS == true){
        sandBoxTags.Add("allow-scripts");
    }
    if(ViewBag.ActivateForms != null && ViewBag.ActivateForms == true){
        sandBoxTags.Add("allow-forms");
    }
    if(ViewBag.ActivateSameOrigin != null && ViewBag.ActivateSameOrigin == true){
        sandBoxTags.Add("allow-same-origin");
    }
    if (ViewBag.ActivateTopNavigation != null && ViewBag.ActivateTopNavigation == true)
    {
        sandBoxTags.Add("allow-top-navigation");
    }
    if (ViewBag.ActivatePopups != null && ViewBag.ActivatePopups == true)
    {
        sandBoxTags.Add("allow-popups");
    }
    if (ViewBag.ActivatePointerLock != null && ViewBag.ActivatePointerLock == true)
    {
        sandBoxTags.Add("allow-pointer-lock");
    }

    string tags = String.Join(" ", sandBoxTags);
}

<i>@Html.LocalizedLabel("Label.PeekHint")</i>
@using (Html.BeginForm("Peek", "Security", FormMethod.Get)) //http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/
{
    <text>
        <div class="inline-blocks">
            @Html.LocalizedLabel("Label.URL") @Html.TextBox("url", null, new { style = "min-width:300px; width:50%;" }) <button type="submit" class="button tiny">@Html.LocalizedLabel("Button.Browse")</button>
        </div>
        <div class="inline-blocks">
            @Html.LocalizedLabel("Label.SandboxRights")
            @Html.CheckBox("activateProxy") @Html.LocalizedLabel("Label.ActivateProxy", new { @for = "activateProxy", @title=HttpContext.GetGlobalResourceObject(null, "Label.ActivateProxyToolTip").ToString() })

            @Html.CheckBox("activateJS") @Html.LocalizedLabel("Label.AllowJS", new { @for = "activateJS", @title=HttpContext.GetGlobalResourceObject(null, "Label.AllowJSToolTip").ToString() })
            @Html.CheckBox("activateForms") @Html.LocalizedLabel("Label.AllowForms", new { @for = "activateForms", @title = HttpContext.GetGlobalResourceObject(null, "Label.AllowFormsToolTip").ToString() })
            @Html.CheckBox("activatePopups") @Html.LocalizedLabel("Label.AllowPopups", new { @for = "activatePopups", @title = HttpContext.GetGlobalResourceObject(null, "Label.AllowPopupsToolTip").ToString() })
            @Html.CheckBox("activatePointerLock") @Html.LocalizedLabel("Label.AllowPointerLock", new { @for = "activatePointerLock", @title = HttpContext.GetGlobalResourceObject(null, "Label.AllowPointerLockToolTip").ToString() })
            @Html.CheckBox("activateSameOrigin") @Html.LocalizedLabel("Label.AllowSameOrigin", new { @for = "activateSameOrigin", @title = HttpContext.GetGlobalResourceObject(null, "Label.AllowSameOriginToolTip").ToString() })
            @Html.CheckBox("activateTopNavigation") @Html.LocalizedLabel("Label.AllowTopNavigation", new { @for = "activateTopNavigation", @title = HttpContext.GetGlobalResourceObject(null, "Label.AllowTopNavigationToolTip").ToString() })
        </div>
</text>
}

<iframe src="@ViewBag.URL" sandbox="@tags" style="height:500px; width:100%;">
    @Html.LocalizedLabel("Label.IFramesNotSupported")
</iframe>
