@model BLOBLocker.Code.ViewModels.AdminTool.TranslationIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ValidationSummary()

@if (Model.IsModerator) { 
    @Html.Partial("_AddResource", new BLOBLocker.Code.ViewModels.AdminTool.NewResourceViewModel())

    @Html.Partial("_PutLiveOptions")
}

<hr />

@Html.Partial("_FilterResources", Model.Filter)

<hr />
There are @Model.StringResources.Count resources (which match with the filter).
<table border="1" style="width: 100%; padding:5px;">
    @foreach (var resource in Model.StringResources)
    {
        <tr>
            <td>@Html.ActionLink("Edit", "EditResource", new { key=resource.Key }) | @Html.ActionLink("Δ", "EditResource", new { key = resource.Key }, new { target = "_blank" })</td>
            <th>Key: @resource.Key</th>
            <th>Base: @resource.Base</th>
            <th>Type: @resource.Type</th>
            <th>Comment: @resource.Comment</th>
        </tr>
        foreach (var locStr in resource.LocalizedStrings)
        {
            <tr>
                <td>@locStr.UICulture</td>
                <td>@locStr.Translation</td>
                <td>@locStr.LiveTranslation</td>
                <td>@locStr.Status</td>
                <td>Version: @Convert.ToBase64String(locStr.Version)</td>
            </tr>
        }
    }
</table>
