@model BLOBLocker.Code.ViewModels.AdminTool.TranslationIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ValidationSummary()

@if (Model.IsModerator) { 
    @Html.Partial("_AddResource", new BLOBLocker.Code.ViewModels.AdminTool.NewResourceViewModel())

    @Html.Partial("_PutLiveOptions")
}

<hr />

@Html.Partial("_FilterResources", Model.Filter)

<hr />

@using (Html.BeginForm("EditResource", "Translation", FormMethod.Get)) 
{ 
    <table border="1" style="width:100%;">
        <tr>
            <td colspan="2">Roles @(Model.IsModerator ? "Moderator," : "") @(Model.IsTranslator ? "Translator" : "")</td>
        </tr>
        <tr>
            <td>@Html.Label("Basic Resources")</td>
            <td>@Html.Label("Localized Strings")</td>
        </tr>

        @foreach (var resource in Model.StringResources)
        {
            <tr>
                <td>
                    <table border="1" style="width:100%;">
                        <tr>
                            <td><button type="submit" value="@resource.Key" name="key">Edit</button></td>
                            <td>@resource.Key</td>
                            <td>@resource.Base</td>
                            <td>@resource.Type</td>
                            <td>@resource.Comment</td>
                            <td>@Convert.ToBase64String(resource.Version)</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border="1" style="width:100%";>
                        @foreach (var locStr in resource.LocalizedStrings)
                        {
                            <tr>
                                <td>@locStr.UICulture</td>
                                <td>@locStr.Translation</td>
                                <td>@locStr.LiveTranslation</td>
                                <td>@locStr.Status</td>
                                <td>@Convert.ToBase64String(locStr.Version)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    
    </table>
}
