@model BLOBLocker.Code.ViewModels.AdminTool.TranslationIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ValidationSummary()

@if (Model.IsModerator) { 
    @Html.Partial("_AddTranslation", new BLOBLocker.Code.ViewModels.AdminTool.NewTranslationViewModel())
}

<hr />

@using (Html.BeginForm("EditTranslation", "Translation", FormMethod.Get)) { 
    <table border="1">
        <tr>
            <td colspan="2">Roles @(Model.IsModerator?"Moderator,":"") @(Model.IsTranslator?"Translator":"")</td>
        </tr>
        <tr>
            <td>@Html.Label("Basic Resources")</td>
            <td>@Html.Label("Localized Strings")</td>
        </tr>

        @foreach (var trans in Model.StringResources)
        {
            <tr>
                <td>
                    <table border="1">
                        <tr>
                            <td><button type="submit" value="@trans.Key" name="key">Edit</button></td>
                            <td>@trans.Key</td>
                            <td>@trans.Base</td>
                            <td>@trans.Type</td>
                            <td>@trans.Comment</td>
                            <td>@Convert.ToBase64String(trans.Version)</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table border="1">
                        @foreach (var locStr in trans.LocalizedStrings)
                        {
                            <tr>
                                <td>@locStr.UICulture</td>
                                <td>@locStr.Translation</td>
                                <td>@locStr.LiveTranslation</td>
                                <td>@locStr.Status</td>
                                <td>@Convert.ToBase64String(locStr.Version)</td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        }
    
    </table>
}
