@model BLOBLocker.Entities.Models.Account

@{
    ViewBag.Title = "ShowUser";
}

<h2>ShowUser</h2>

@using(Html.BeginForm())
{
    @:Name: @Html.TextBox("alias") <input type="submit" value="search" />
}

@if (Model != null)
{
    <table>
        <tr>
            <th>@Html.LabelFor(p => p.ID)</th>
            <th>@Html.LabelFor(p => p.Alias)</th>
            <th>@Html.LabelFor(p => p.Password)</th>
            <th>@Html.LabelFor(p => p.Salt)</th>
            <th>@Html.LabelFor(p => p.Config)</th>
            <th>@Html.LabelFor(p => p.Addition)</th>
        </tr>
        <tr>
            <td>@Model.ID</td>
            <td>@Model.Alias</td>
            <td>@Model.Password</td>
            <td>@Model.Salt</td>
            <td>@Model.Config</td>
            <td>@Model.Addition</td>
        </tr>
    </table>
}