@model BLOBLocker.Code.ViewModels.WebApp.MemoryViewModel
@{
    Layout = null;
}

<h2>AssignMemory</h2>

@Html.Partial("_MemoryOverview", Model.MemoryOverviewModel)

<hr />
Assign some
@using (Html.BeginForm("AssignMemory", "Panel", FormMethod.Post))
{
    <table border="1">
        <tr>
            <td colspan="2">@Html.ValidationSummary()</td>
        </tr>
        <tr>
            <td>What you have left:</td>
            <td>@Model.FreeBasicMemory MB basic</td>
            <td>@Model.FreeAdditionalMemory MB additional</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.BasicMemoryToAdd)</td>
            <td>@Html.EditorFor(p => p.BasicMemoryToAdd) MB</td>
            <td>@Html.ValidationMessageFor(p => p.BasicMemoryToAdd)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.AdditionalMemoryToAdd)</td>
            <td>@Html.EditorFor(p => p.AdditionalMemoryToAdd) MB</td>
            <td>@Html.ValidationMessageFor(p => p.AdditionalMemoryToAdd)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.AntiForgeryToken()<button type="submit">@HttpContext.GetGlobalResourceObject(null, "Button.AssignMemory")</button></td>
            <td>@Html.HiddenFor(p => p.PoolUniqueIdentifier)</td>
        </tr>
    </table>
}