@model BLOBLocker.Code.ViewModels.WebApp.BuildPoolViewModel
@{
    ViewBag.Title = "Build pool";
}

<h2>Build your very own pool!</h2>


@using(Html.BeginForm())
{
    <table>
        <tr>
            <td>@Html.ValidationSummary()</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Title)</td>
            <td>@Html.EditorFor(p => p.Title)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Description)</td>
            <td>@Html.TextAreaFor(p => p.Description)</td>
        </tr>
        <tr>
            <td>@Html.EditorFor(p => p.IsChatEnabled) @Html.LabelFor(p => p.IsChatEnabled)</td>
            <td>@Html.EditorFor(p => p.IsFileStorageEnabled) @Html.LabelFor(p => p.IsFileStorageEnabled) </td>
        </tr>
        @Html.Partial("~/Views/Panel/_EditPoolRights.cshtml", Model.Rights)
        <tr>
            <td>@Html.EditorFor(p => p.IsLinkRepositoryEnabled) @Html.LabelFor(p => p.IsLinkRepositoryEnabled)</td>
        </tr>
        <tr>
            <td>@Html.AntiForgeryToken()</td>
            <td><button type="submit">Start building!</button></td>
        </tr>
    </table>
}
