@model BLOBLocker.Code.ViewModels.WebApp.PanelIndexViewModel
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.PanelIndex");
}

<h2>@ViewBag.Title</h2>


@HttpContext.GetGlobalResourceObject(null, "Label.AddAccountToContacts")
<p>
    @using (Html.BeginForm("AddContact", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();

        <text>@BLOBLocker.WebApp.Resources.Panel.Strings.lbl_AddAccount @Html.TextBox("addAlias")</text>
        @Html.AntiForgeryToken()
        <input type="submit" value="@BLOBLocker.WebApp.Resources.Panel.Strings.btn_AddAccount" />
    }
</p>
@HttpContext.GetGlobalResourceObject(null, "Label.ShareContacts")
<p>
    @using (Html.BeginForm("ShareContacts", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();
        <text>@HttpContext.GetGlobalResourceObject(null, "Label.ShareWith") @Html.TextBox("shareWithAlias")</text>
        @Html.AntiForgeryToken()
        <input type="submit" value="@BLOBLocker.WebApp.Resources.Panel.Strings.btn_ShareWith" />
    }
</p>

@BLOBLocker.WebApp.Resources.Panel.Strings.ContactList
<p>
    @Html.Partial("_ContactList", Model.Addition)
</p>
<hr />
@BLOBLocker.WebApp.Resources.Panel.Strings.Notifications
<p>
    @Html.Partial("_ShowNotifications", Model.Notifications)
</p>
<hr />
<p>
    @Html.Partial("_PoolList", Model.Pools)
</p>
<p>
    @Html.Partial("_PoolShareList", Model.PoolShares)
</p>

