@model BLOBLocker.Entities.Models.WebApp.Account
@{
    ViewBag.Title = BLOBLocker.WebApp.Resources.Panel.Strings.PageTitle;
}

<h2>Control Panel</h2>


@BLOBLocker.WebApp.Resources.Panel.Strings.AddAccount
<p>
    @using (Html.BeginForm("AddContact", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();

        <text>@BLOBLocker.WebApp.Resources.Panel.Strings.lbl_AddAccount @Html.TextBox("addAlias")</text>
        @Html.AntiForgeryToken()
        <input type="submit" value="@BLOBLocker.WebApp.Resources.Panel.Strings.btn_AddAccount" />
    }
</p>
@BLOBLocker.WebApp.Resources.Panel.Strings.ShareWith
<p>
    @using (Html.BeginForm("ShareContacts", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();
        <text>@BLOBLocker.WebApp.Resources.Panel.Strings.lbl_ShareWith @Html.TextBox("shareWithAlias")</text>
        @Html.AntiForgeryToken()
        <input type="submit" value="@BLOBLocker.WebApp.Resources.Panel.Strings.btn_ShareWith" />
    }
</p>

@BLOBLocker.WebApp.Resources.Panel.Strings.ContactList
<p>
    @Html.Partial("_ContactList", Model.Addition)
</p>
<hr />
@BLOBLocker.WebApp.Resources.Panel.Strings.Notifications
<p>
    @Html.Partial("_ShowNotifications", Model.Addition.Notifications)
</p>
<hr />
<p>
    @Html.Partial("_PoolList", Model.Pools)
</p>
<p>
    @Html.Partial("_PoolShareList", Model.PoolShares)
</p>

