@model BLOBLocker.Code.ViewModels.WebApp.PanelIndexViewModel
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.PanelIndex");
}

<div class="row">
    <div class="small-7 column">
        @Html.Partial("_PoolList", Model.Pools)
    </div>
    <div class="small-5 column">
        <div>
            @Html.Partial("_AddContact", new BLOBLocker.Code.ViewModels.WebApp.AddContactViewModel())
        </div>
        <div>
            @Html.Partial("_ShareContacts")
        </div>

        @Html.Partial("_ContactList", Model.Addition)
    </div>
</div>
<div class="row">
    <div class="small-7 column">
        @Html.Partial("_PoolShareList", Model.PoolShares)
    </div>
    <div class="small-5 column">
        @HttpContext.GetGlobalResourceObject(null, "Label.YourNotifications")

        @Html.Partial("_ShowNotifications", Model.Notifications)
    </div>
</div>
