@model BLOBLocker.Code.ViewModels.WebApp.PoolOverviewViewModel
@using BLOBLocker.Code.Membership
@using BLOBLocker.Code.Extention
@{
    ViewBag.Title = string.Format(HttpContext.GetGlobalResourceObject(null, "PageTitle.PoolMain").ToString(), Model.PUID);
   // int rights = ViewBag.Rights;
    int rights = (int)TempData["rights"];
}

<h2>Pool - @Model.Title - @Model.OverallAssignedPoolSpace MB<small> - @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.PoolSettings").As<string>(), "PoolConfig", new { puid = Model.PUID })</small></h2>
<div style="background-color:#9cf3ff;">
    @Html.Raw(Model.Description)
</div>

@if(Model.IsChatEnabled)
{
    if(PoolRightHelper.HasRight(rights, PoolRight.WriteChat) || PoolRightHelper.HasRight(rights, PoolRight.ReadChat))
    {
        <div style="max-height:300px; overflow-y:scroll;">
            @Html.Action("ChatMinimal", new { puid = ViewContext.RouteData.Values["puid"] })
        </div>
        <div>@Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Button.MaximizeChat").ToString(), "Chat", new { puid = ViewContext.RouteData.Values["puid"] })</div>
    }
}
@if (Model.IsFileStorageEnabled)
{
    if (PoolRightHelper.HasRight(rights, PoolRight.ReadFileStorage) || PoolRightHelper.HasRight(rights, PoolRight.UploadFileStorage))
    {
        <div>@Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Button.MaximizeStorage").ToString(), "Storage", new { puid = ViewContext.RouteData.Values["puid"] })</div>
        <div style="border:1px solid #a1ff93;">
            @Html.Action("StorageMinimal", new { puid = ViewContext.RouteData.Values["puid"] })
        </div>
    }
}
@if(Model.IsLinkRepoEnabled)
{
    <p>Link repository goes here</p>
}

@if (PoolRightHelper.HasRight(rights, PoolRight.ViewParticipants)) { 
    <ul>
        @foreach(var usr in Model.Participants)
        {
            <li>@usr.SharedWith.Alias</li>
        }
    </ul>
}