@model BLOBLocker.Code.ViewModels.WebApp.PoolConfigModel
@using BLOBLocker.Code.Membership
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.PoolConfig");
}

<h2>@ViewBag.Title</h2>

<p>@Html.ActionLink("Back", "Pool", new { puid = Request.QueryString["puid"] })</p>

<p>
    @Html.Partial("_EditTitleAndDescription", Model.TitleDescriptionViewModel)
</p>

<p>
    @if (PoolRightHelper.HasRight(Model.PoolShare, PoolRight.ManageModules))
    {
        @Html.Partial("_ManageModules", Model.ManageModulesViewModel)
    }
</p>

<p>
    @Html.Action("AssignMemory")
</p>

<p>
    @if (PoolRightHelper.HasRight(Model.PoolShare, PoolRight.InviteUser)) { 
        @Html.Action("InviteUser")
    }
</p>

<p>
    @if(PoolRightHelper.HasRight(Model.PoolShare, PoolRight.AssignRights))
    {
        @Html.Partial("_EditDefaultRights", Model.RightsEditViewModel)
    }
</p>

