@model BLOBLocker.Code.ViewModels.WebApp.PoolOverviewViewModel
@using BLOBLocker.Code.Membership
@{
    ViewBag.Title = "Pool";
    int rights = ViewBag.Rights;
}

<h2>Pool - @Model.Title - @Model.OverallAssignedPoolSpace MB</h2>
<div style="background-color:#9cf3ff;">
    @Html.Raw(Model.Description)
</div>

@if(Model.IsChatEnabled)
{
    if(PoolRightHelper.HasRight(rights, PoolRight.WriteChat) || PoolRightHelper.HasRight(rights, PoolRight.ReadChat))
    {
        <p>@Html.Action("Chat", new { puid = Request.QueryString["puid"] })</p>
    }
}
@if(Model.IsFileStorageEnabled)
{
    <p>Filestorage goes here</p>
}
@if(Model.IsLinkRepoEnabled)
{
    <p>Link repository goes here</p>
}

<p>
    @Html.ActionLink("Settings", "PoolConfig", new { puid = Model.PUID})
</p>
<ul>
    @foreach(var usr in Model.Participants.Where(p => p.IsActive))
    {
        <li>@usr.SharedWith.Alias</li>
    }
</ul>