@model BLOBLocker.Code.ViewModels.WebApp.PoolConfigModel
@using BLOBLocker.Code.Membership
@{
    ViewBag.Title = string.Format(HttpContext.GetGlobalResourceObject(null, "PageTitle.PoolConfig").ToString(), Model.Pool.Title);
}

<div class="menu-centered">
    <ul class="menu">
        <li>
            <a href="@Request.RawUrl" class="hollow button">
                @string.Format(HttpContext.GetGlobalResourceObject(null, "Label.NavPoolConfigTitle").ToString(), Model.Pool.Title)
            </a>
        </li>
        <li>
            @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Button.BackToPool").ToString(),
                "Pool", new { puid = ViewContext.RouteData.Values["puid"] }, new { @class = "button" })
        </li>
    </ul>
</div>

@if (PoolRightHelper.HasRight(Model.PoolShare, PoolRight.ChangeTitle)
    || PoolRightHelper.HasRight(Model.PoolShare, PoolRight.ChangeDescription))
{
    <p>
        @Html.Partial("_EditTitleAndDescription", Model.TitleDescriptionViewModel)
    </p>
}

@if (PoolRightHelper.HasRight(Model.PoolShare, PoolRight.ManageModules))
{
    <p>
        @Html.Partial("_ManageModules", Model.ManageModulesViewModel)
    </p>
}

<p>
    @Html.Action("AssignMemoryMinimal")
</p>

@if (PoolRightHelper.HasRight(Model.PoolShare, PoolRight.InviteUser))
{
    <p>
        @Html.Action("InviteUser")
    </p>
}

@if (PoolRightHelper.HasRight(Model.PoolShare, PoolRight.AssignRights))
{
    <p>
        @Html.Partial("_EditDefaultRights", Model.RightsEditViewModel)
    </p>
}

