@model BLOBLocker.Code.ViewModels.WebApp.PoolOverviewViewModel
@using BLOBLocker.Code.Membership
@using BLOBLocker.Code.Extention
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.PoolMain");
    int rights = ViewBag.Rights;
}

<h2>Pool - @Model.Title - @Model.OverallAssignedPoolSpace MB<small> - @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.PoolSettings").As<string>(), "PoolConfig", new { puid = Model.PUID })</small></h2>
<div style="background-color:#9cf3ff;">
    @Html.Raw(Model.Description)
</div>

@if(Model.IsChatEnabled)
{
    if(PoolRightHelper.HasRight(rights, PoolRight.WriteChat) || PoolRightHelper.HasRight(rights, PoolRight.ReadChat))
    {
        <p>@Html.Action("Chat", new { puid = Request.QueryString["puid"] })</p>
    }
}
@if(Model.IsFileStorageEnabled)
{
    <p>Filestorage goes here</p>
}
@if(Model.IsLinkRepoEnabled)
{
    <p>Link repository goes here</p>
}

@if (PoolRightHelper.HasRight(rights, PoolRight.ViewParticipants)) { 
    <ul>
        @foreach(var usr in Model.Participants)
        {
            <li>@usr.SharedWith.Alias</li>
        }
    </ul>
}