@model SpreadBase.Models.Account

@{
    ViewBag.Title = "Control Panel";
}

<h2>Control Panel</h2>


Add a new contact
<p>
    @using (Html.BeginForm("AddContact", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();
        
        @:Alias: @Html.TextBox("addAlias")
        @Html.AntiForgeryToken()
        <input type="submit" value="Add" />
    }
</p>
Share all your contacts
<p>
    @using (Html.BeginForm("ShareContacts", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();
        @:Share with: @Html.TextBox("shareWithAlias")
        @Html.AntiForgeryToken()
        <input type="submit" value="Add" />
    }
</p>

All your contacts
<p>
    @Html.Partial("~/Views/Panel/ContactList.cshtml", Model)
</p>