@{
    ViewBag.Title = "Control Panel";
}

<h2>Control Panel</h2>


Add a new contact
<p>
    @using (Html.BeginForm("AddContact", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();
        
        @:Alias: @Html.TextBox("alias")
        @Html.AntiForgeryToken()
        <input type="submit" value="Add" />
    }
</p>
Share all your contacts
<p>
    @using (Html.BeginForm("ShareContacts", "Panel", FormMethod.Post))
    {
        Html.ValidationSummary();
        @:Share with: @Html.TextBox("alias")
        @Html.AntiForgeryToken()
        <input type="submit" value="Add" />
    }
</p>

All your contacts
<p>
    <ul>
        @foreach (spreadbase.Models.Account acc in (Session["contacts"] as List<spreadbase.Models.Account>))
        {
            <li>@acc.Alias</li>
        }
    </ul>
</p>