@{
    Layout = null;
}
<style>
    .menu ul{
        list-style-type:none; margin:0; padding:2px; border: 1px solid #555;
    }
    .menu ul li{
        border: 1px solid #555;
        display:inline;
    }
</style>

@if(User.Identity.IsAuthenticated)
{
    var atcontext = new BLOBLocker.Entities.Models.AdminTool.BLATContext();
    var curAcc = atcontext.Accounts.FirstOrDefault(p => p.Alias == User.Identity.Name);
    
    <div class="menu">
        <ul>
            @if (curAcc.Roles.Any(p => p.Role.Definition == "Administrator")) 
            { 
                <li>@Html.ActionLink("Admin - Settings", "Overview", "Admin")</li>
                <li>@Html.ActionLink("Admin - Accounts", "Accounts", "Admin")</li>
            }
            @if (curAcc.Roles.Any(p => p.Role.Definition == "Moderator"))
            {
                <li>@Html.ActionLink("Mod - User Accounts", "Manage", "Manage")</li>
                <li>@Html.ActionLink("Mod - Translator Interface", "Translation", "Manage")</li>
            }
            @if (curAcc.Roles.Any(p => p.Role.Definition == "Translator"))
            {
                <li>@Html.ActionLink("Mod - Tranlations", "Translate", "Translator")</li>
            }
            <li>@Html.ActionLink("Logout", "LogOut", "Account")</li>
        </ul>
    </div>
}