@{
    List<SelectListItem> cultures = new List<SelectListItem>();
    cultures.Add(new SelectListItem{ Text = "English", Value = "en" });
    cultures.Add(new SelectListItem{ Text = "Deutsch", Value = "de" });
    cultures.Add(new SelectListItem{ Text = "Español", Value = "es" });
    cultures.Add(new SelectListItem{ Text = "Polski", Value = "pl" });
    
    SelectListItem selectedItem = cultures.Where(p => UICulture.Contains(p.Value)).FirstOrDefault();
    if(selectedItem != null)
    {
        selectedItem.Selected = true;
    }
}
@using BLOBLocker.Code.Extention;
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
        <title>@ViewBag.Title - BLOBLocker</title>
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
        @Scripts.Render("~/bundles/jquery")
    </head>

    <body>
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("BLOBLocker", "Index", "Panel", new { area = "" }, new { @class = "navbar-brand" })

                    }
                    else 
                    { 
                        @Html.ActionLink("BLOBLocker", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </div>
        </div>
        <noscript>
            @HttpContext.GetGlobalResourceObject(null, "Label.NoScriptDisclaimer")
            <hr />
        </noscript>
        <p>
        @if(HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <span>@Html.ActionLink("Panel Overview", "Index", "Panel") - @HttpContext.Current.User.Identity.Name - @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.AccountSettings").As<string>(), "Overview", "Account") - @Html.ActionLink("logout", "SignOut", "Account")</span>
        }
        else{
            <span>@HttpContext.GetGlobalResourceObject(null, "Label.NotLoggedIn") @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.SignIn").As<string>(), "SignIn", "Account") 
            - @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.SignUp").As<string>(), "SignUp", "Account")</span>
        }
        </p>
        <p>
            <span style="float:right;" id="counter">
            @using (Html.BeginForm("SetSessionCulture", "Globalization", FormMethod.Get))
            {
                @Html.DropDownList("culture", cultures, new { onchange="this.form.submit();" })
                <button type="submit">@HttpContext.GetGlobalResourceObject(null, "Button.ChangeLanguage")</button>
            }
            </span>
        </p>

        <div style="display:flex">
            <div style="display:inline-block; vertical-align:top; width:250px;">
                @Html.Action("VerticalMenu", "Home")
            </div>
            
            <div style="flex: 1; width:100%;">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - BLOBLocker</p>
                </footer>
            </div>
        </div>
        @Html.Partial("_MinimalFeedbackBox")

        @RenderSection("scripts", required: false)
    </body>
</html>
