@{
    List<SelectListItem> cultures = new List<SelectListItem>();
    cultures.Add(new SelectListItem{ Text = "English", Value = "en" });
    cultures.Add(new SelectListItem{ Text = "Deutsch", Value = "de" });
    cultures.Add(new SelectListItem{ Text = "Español", Value = "es" });
    cultures.Add(new SelectListItem{ Text = "Polski", Value = "pl" });
    
    SelectListItem selectedItem = cultures.Where(p => UICulture.Contains(p.Value)).FirstOrDefault();
    if(selectedItem != null)
    {
        selectedItem.Selected = true;
    }
}
@using BLOBLocker.Code.Extention;
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewBag.Title - BLOBLocker</title>
        <link href="~/Content/foundation.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

        @Scripts.Render("~/bundles/jquery")

        <script src="~/Scripts/foundation.min.js"></script>
    </head>
    <body>
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
                <div class="off-canvas position-left reveal-for-large" id="menu" data-off-canvas data-position="left">
                        @Html.Action("VerticalMenu", "Home")
                </div>
                <div class="off-canvas-content" data-off-canvas-content>
                    <div class="title-bar hide-for-large">
                        <div class="title-bar-left">
                            <button class="menu-icon" type="button" data-open="menu"></button>
                            <span class="title-bar-title">Menu</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="top-bar">
                            <div id="responsive-menu">
                                <div class="top-bar-left">
                                    @using (Html.BeginForm("SetSessionCulture", "Globalization", FormMethod.Get))
                                    {
                                        <ul class="menu">
                                            <li>@Html.DropDownList("culture", cultures, new { onchange = "this.form.submit();", @class = "input-group-field" })</li>
                                            <li>
                                                <button type="submit" class="small secondary button">@HttpContext.GetGlobalResourceObject(null, "Button.ChangeLanguage")</button>
                                            </li>
                                        </ul>
                                    }
                                </div>

                                <strong>@ViewBag.Title</strong>

                                <div class="top-bar-right">
                                    <div class="menu">
                                        @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                        {
                                            <text>
                                                @HttpContext.Current.User.Identity.Name
                                            </text>
                                            <text>
                                                @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.TitleOverview").ToString(),
                                                         "Index", "Panel", null, new { @class = "secondary button" })
                                            </text>
                                            <text>
                                                @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.AccountSettings").As<string>(),
                                                         "Overview", "Account",null , new { @class = "secondary button" })
                                            </text>
                                            <text>
                                                @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.SignOut").ToString(),
                                                        "SignOut", "Account",null , new { @class="secondary button" })
                                            </text>
                                        }
                                        else
                                        {
                                            <text>
                                                @HttpContext.GetGlobalResourceObject(null, "Label.NotLoggedIn")
                                            </text>
                                            <text>
                                                @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.SignIn").As<string>(),
                                                        "SignIn", "Account", null, new { @class="secondary button" })
                                            </text>
                                            <text>
                                                @Html.ActionLink(HttpContext.GetGlobalResourceObject(null, "Label.SignUp").As<string>(),
                                                        "SignUp", "Account", null, new { @class="secondary button" })
                                            </text>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row column">
                        @RenderBody()
                    </div>

                    <div class="row column">

                        <hr />
                        <footer>
                            <p>&copy; @DateTime.Now.Year - @HttpContext.GetGlobalResourceObject(null, "Label.BLOBLocker")</p>
                        </footer>

                        <noscript>
                            <div class="warning callout">
                                @HttpContext.GetGlobalResourceObject(null, "Label.NoScriptDisclaimer")
                            </div>
                        </noscript>
                    </div>
                </div>
            </div>
        </div>

        @Html.Partial("_MinimalFeedbackBox")

        @RenderSection("scripts", required: false)

        <script>
            $(document).foundation();
        </script>
    </body>
</html>

