@model BLOBLocker.Code.ViewModels.WebApp.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <table style="margin:auto;">
        <tr>
            <th>@Html.LabelFor(p => p.CurrentPassword)</th>
            <td>@Html.PasswordFor(p => p.CurrentPassword)</td>
            <td>@Html.ValidationMessageFor(p => p.CurrentPassword)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(p => p.NewPassword)</th>
            <td>@Html.PasswordFor(p => p.NewPassword)</td>
            <td>@Html.ValidationMessageFor(p => p.NewPassword)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(p => p.NewPasswordConfirm)</th>
            <td>@Html.PasswordFor(p => p.NewPasswordConfirm)</td>
            <td>@Html.ValidationMessageFor(p => p.NewPasswordConfirm)</td>
        </tr>
        <tr>
            <td>@Html.AntiForgeryToken() <button type="submit">@HttpContext.GetGlobalResourceObject(null, "Button.Change")</button></td>
        </tr>
    </table>
}