@model BLOBLocker.Code.ViewModels.WebApp.ChangePasswordViewModel

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="small-2 column">
            @Html.LabelFor(p => p.CurrentPassword)
        </div>
        <div class="small-6 column">
            @Html.PasswordFor(p => p.CurrentPassword)
        </div>
        <div class="small-4 column">
            @Html.ValidationMessageFor(p => p.CurrentPassword)
        </div>
    </div>
    <div class="row">
        <div class="small-2 column">

        </div>
        <div class="small-6 column">

        </div>
        <div class="small-4 column">

        </div>
    </div>
    <div class="row">
        <div class="small-2 column">
            @Html.LabelFor(p => p.NewPassword)
        </div>
        <div class="small-6 column">
            @Html.PasswordFor(p => p.NewPassword)
        </div>
        <div class="small-4 column">
            @Html.ValidationMessageFor(p => p.NewPassword)
        </div>
    </div>
    <div class="row">
        <div class="small-2 column">
            @Html.LabelFor(p => p.NewPasswordConfirm)
        </div>
        <div class="small-6 column">
            @Html.PasswordFor(p => p.NewPasswordConfirm)
        </div>
        <div class="small-4 column">
            @Html.ValidationMessageFor(p => p.NewPasswordConfirm)
        </div>
    </div>
    <div class="row">
        <div class="small-6 small-offset-2 column">
            <button type="submit" class="success button">@HttpContext.GetGlobalResourceObject(null, "Button.Change")</button>
            @Html.AntiForgeryToken()
        </div>
    </div>
}