@model BLOBLocker.Code.ViewModels.AdminTool.LoginViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Log in</h2>


@using(Html.BeginForm("Index", "Account", FormMethod.Post))
{
    <text>@Html.ValidationSummary()</text>
    <table>
        <tr>
            <td>@Html.LabelFor(p => p.Alias)</td>
            <td>@Html.EditorFor(p => p.Alias)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Password)</td>
            <td>@Html.PasswordFor(p => p.Password)</td>
        </tr>
        <tr>
            <td>@Html.AntiForgeryToken()</td>
            <td><button type="submit">Log in</button></td>
        </tr>
    </table>    
}