@model BLOBLocker.Code.ViewModels.WebApp.AccountViewModel
@{
    ViewBag.Title = BLOBLocker.WebApp.Resources.Account.Strings.PageLoginTitle;
}

<h2>SignIn</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Alias) *:</td>
            <td>@Html.TextBoxFor(model => model.Alias)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password) *:</td>
            <td>@Html.PasswordFor(model => model.Password)</td>
        </tr>
        <tr>
            <td colspan="2">@Html.AntiForgeryToken()</td>
            <td><input type="submit" value="@BLOBLocker.WebApp.Resources.Account.Strings.btn_SignIn" /></td>
        </tr>
    </table>
}