@model BLOBLocker.Code.ViewModels.WebApp.AccountViewModel
@{
    ViewBag.Title = HttpContext.GetGlobalResourceObject(null, "PageTitle.Registration");
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ValidationSummary()
</p>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <th>@Html.LabelFor(model => model.Alias)</th>
            <td>@Html.EditorFor(model => model.Alias)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.Password)</th>
            <td>@Html.PasswordFor(model => model.Password)</td>
        </tr>
        <tr>
            <th>@Html.LabelFor(model => model.ContactEmail)</th>
            <td>@Html.EditorFor(model => model.ContactEmail)</td>
        </tr>
        @if (ViewBag.IsRegistrationRestricted)
        {
            <tr>
                <th>@HttpContext.GetGlobalResourceObject(null, "Account.RegistrationCode")</th>
                <td>@Html.TextBox("registrationCode", "")</td>
            </tr>
        }
        <tr>
            <th>@Html.AntiForgeryToken()</th>
            <td><input type="submit" value="@BLOBLocker.WebApp.Resources.Account.Strings.btn_SignUp" /></td>
        </tr>
    </table>
}
