@model BLOBLocker.Code.ViewModels.WebApp.LoginViewModel
@using BLOBLocker.Code.Web.Helper
@{
    ViewBag.Title = @HttpContext.GetGlobalResourceObject(null, "PageTitle.SignIn");
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SignIn", "Account", FormMethod.Post))
{
    <div class="row">
        <div class="small-4 column text-right">
            @Html.LabelFor(model => model.Alias)
        </div>
        <div class="small-4 column">
            @Html.TextBoxFor(model => model.Alias, new { @placeholder=HttpContext.GetGlobalResourceObject(null, "Label.DisplayName").ToString() })
        </div>
        <div class="small-4 columns">
            @Html.ValidationMessageFor(p => p.Alias)
        </div>
    </div>
    <div class="row">
        <div class="small-4 column text-right">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="small-4 column">
            @Html.PasswordFor(model => model.Password, new { @placeholder = "************" })
        </div>
        <div class="small-4 columns">
            @Html.ValidationMessageFor(p => p.Password)
        </div>
    </div>
    <div class="row">
        <div class="small-3 column">
            @Html.AntiForgeryToken()
            @Html.HiddenFromQueryString("ReturnUrl")
        </div>
        <div class="small-4 small-offset-4 column end">
            <button type="submit" class="button">@HttpContext.GetGlobalResourceObject(null, "Button.SignIn")</button>
        </div>
    </div>
}