@model BLOBLocker.Code.ViewModels.WebApp.AccountViewModel
@{
    ViewBag.Title = @HttpContext.GetGlobalResourceObject(null, "PageTitle.SignIn");
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    <p>
        @Html.ValidationSummary()
    </p>
    <table>
        <tr>
            <td>@Html.LabelFor(model => model.Alias)</td>
            <td>@Html.TextBoxFor(model => model.Alias)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.Password)</td>
            <td>@Html.PasswordFor(model => model.Password)</td>
        </tr>
        <tr>
            <td>@Html.AntiForgeryToken()</td>
            <td><button type="submit">@HttpContext.GetGlobalResourceObject(null, "Button.SignIn")</button></td>
        </tr>
    </table>
}