@model BLOBLocker.Code.ViewModels.AdminTool.AdminOverviewViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<p>There are @Model.ConfigValues.Count settings present.</p>

View:
@if (Model != null)
{
    <table border="1">
        <tr>
            <th>DBKey</th>
            <th>DBValue</th>
        </tr>
        @foreach (KeyValuePair<string, string> pair in Model.ConfigValues)
        {
            <tr>
                <td>@pair.Key</td>
                <td>@pair.Value</td>
                <td><button id="@pair.Key @pair.Value" onclick="transferValues(this)">Edit</button></td>
            </tr>
        }
        <tr>
            <td><input id="confirmApply" type="checkbox" value="Apply-Changes-Confirmation" onclick="toggleConfirmation()"/>I want to apply the changes</td>
            <td><button id="applyChanges" onclick="invokeApply()" disabled>Apply values</button></td>
        </tr>
    </table>
}
<hr />
<p>
    @Html.Partial("_EditConfig", new BLOBLocker.Entities.Models.WebApp.SystemConfiguration())
</p>
<hr />
<p>
    @Html.Partial("_CreateConfig", new BLOBLocker.Entities.Models.WebApp.SystemConfiguration())
</p>

<script>
    function transferValues(obj) {
        $("#editKey").val($(obj).attr("id").split(" ")[0]);
        $("#editValue").val($(obj).attr("id").split(" ")[1]);
    }

    function toggleConfirmation() {
        $("#applyChanges").prop('disabled', !$("#confirmApply").prop('checked'));
    }

    function invokeApply() {
        $.ajax({
            type: "POST",
            url: "/Admin/ApplyDBConfiguration",
        }).done(function (data, status, req) {
            console.log("invoked");
        }).error(function (req, textStatus, errorThrown) {
            alert("Error:" + req.status);
        });
    }
</script>